h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
h2::before {  
  transform: scaleX(0);
  transform-origin: bottom left;
}

h2:hover::before {
  transform: scaleX(1);
  transform-origin: bottom right;
}

h1,h2::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #ec4d37;
  z-index: -1;
  transition: transform .5s ease;
}

h1 {
  position: relative;
  font-size: 6rem;
}
h2 {
  position: relative;
  font-size: 3rem;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  background-color: #1d1d1d;
}

